<!DOCTYPE html>

<html>
    <head>
        <title>Tableau de bord</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
        <script src="../homepage/planning.js"></script>
        <link rel="icon" type="image/png" href="images/favicon.png"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    </head>

    <body onload="init()">
        <nav class="noselect">
            <a class="navpad" href="/planning"><img class="logo" src="images/h_logo1.png"></a>
            <a class="navpad" href="/planning">Tableau de bord</a>
            <ul>
                <li class="deroulant"><a>Outils</a>
                  <ul class="sous">
                    <li><a href="/annuaire">Annuaire</a></li>
                    <li><a href="/capsule">Capsule patient</a></li>
                    <li><a href="/patient/transfert">Transfert de patient</a></li>
                    <li><a href="/chambres">gestion des chambres</a></li>
                  </ul>
                </li>
            </ul>
            <a class="navpad" href="/profil">Profil</a>
            <a class="navpad"><input class="entry" type="text" placeholder="Rechercher"></a>
        </nav>

        <div class="welcome">
            <img id="image_doctor" class="doctor" src="images/doctor.png">
            <h2>Bienvenue sur le tableau de bord Helpital</h2>
        </div>

        <div id="planning" class="planning">
            <img class="arrow" src="images/left-arrow.png">
            <h1 class="inlineblock">Planning</h1>
            <img class="arrow" src="images/right-arrow.png">
            <h2>Votre emploi du temps de la semaine</h2>
            <div class="inlineblock">
                <div class="days">Lundi</div>
                <div class="days">Mardi</div>
                <div class="days">Mercredi</div>
                <div class="days">Jeudi</div>
                <div class="days">Vendredi</div>
                <div class="days">Samedi</div>
                <div class="days">Dimanche</div>
            </div>

        </div>

    </body>
</html>