/* BODY */

body {
    margin: 0;
}

/* HEADER_HOMEPAGE */

.header_homepage {
    background-color: #b52222;
    height: 5rem;
}

.header_homepage .title {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding: 1rem 0 0 1rem;
    color: initial;
    text-decoration: none;
}

.header_homepage .a {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding: 1rem 0 0 1rem;
}

body .btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* FONTS */

/* @font-face {
    font-family: Helvetica;
    src: url("../fonts/BonvenoCF-Light.otf");
} */