<!DOCTYPE html>
<html>
    <head>
        <title>Helpital Transfert patient</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/transfert.css">
        <link rel="icon" type="image/png" href="images/favicon.png"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a class="navpad" href="/planning"><img class="logo" src="/images/h_logo1.png"></a>
            <a class="navpad" href="/planning">Tableau de bord</a>
            <ul>
                <li class="deroulant"><a>Outils</a>
                    <ul class="sous">
                    <li><a href="/annuaire">Annuaire</a></li>
                    <li><a href="/capsule">Capsule patient</a></li>
                    <li><a href="/patient/transfert">Transfert de patient</a></li>
                    <li><a href="/chambres">gestion des chambres</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navpad">Profil</a>
            <a class="navpad"><input class="entry" type="text" placeholder="Rechercher"></a>
        </nav>

        <div class = "print">
            <h1 id = "Title"> Transfert de patient </h1>
        </div>

        <div class = "switch">
            <div class = "carrépatient"> <center> PATIENTJS </center></div>
            <div class = "otherroom"> <center> ROOMNUMBER_1 </center> </div>
            <div class = "otherroom2"> <center> ROOMNUMBER_2 </center> </div>
            <div class = "otherroom3"> <center> ROOMNUMBER_3 </center> </div>
        </div>

        <footer>
            <p><center></center></p>
        </footer>
    </body>
</html>