<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Accueil</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/dispo.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../assets/css/nav.css" media="all" />
</head>
<body>
	<nav>
		<a class="navpad" href="/planning"><img class="logo" src="../assets/images/h_logo1.png"></a>
		<a class="navpad" href="/planning">Tableau de bord</a>
		<ul>
			<li class="deroulant"><a>Outils</a>
			  <ul class="sous">
				<li><a href="/annuaire">Annuaire</a></li>
				<li><a href="/capsule">Capsule patient</a></li>
				<li><a href="/transfert">Transfert de patient</a></li>
				<li><a href="/chambres">gestion des chambres</a></li>
			  </ul>
			</li>
		</ul>
		<a class="navpad" href="/profil">Profil</a>
		<a class="navpad"><input class="entry" type="text" placeholder="Rechercher"></a>
	</nav>
	<div class="desktop-app-accueil-chambres">
		<div class="rectangle-8"></div>
		<div class="component-1 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-2 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-3 smart-layers-pointers" onclick="">
		  <div class="n-42--xdN2Rx overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-6 smart-layers-pointers" onclick="">
		  <div class="n-42-i33 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-7 smart-layers-pointers" onclick="">
		  <div class="n-42-i33-x3o0kY overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-8 smart-layers-pointers" onclick="">
		  <div class="n-42--xdN2Rx overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-9 smart-layers-pointers" onclick="">
		  <div class="n-42-i33 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-10 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-11 smart-layers-pointers" onclick="">
		  <div class="n-42-i331 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-12 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-13 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-14 smart-layers-pointers" onclick="">
		  <div class="n-42--xdN2Rx overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-15 smart-layers-pointers" onclick="">
		  <div class="n-42-i33 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-16 smart-layers-pointers" onclick="">
		  <div class="n-42-i33-x3o0kY overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-17 smart-layers-pointers" onclick="">
		  <div class="n-42--xdN2Rx overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-18 smart-layers-pointers" onclick="">
		  <div class="n-42-i33 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-19 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-20 smart-layers-pointers" onclick="">
		  <div class="n-42-i331 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-21 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-22 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-23 smart-layers-pointers" onclick="">
		  <div class="n-42--xdN2Rx overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-24 smart-layers-pointers" onclick="">
		  <div class="n-42-i33 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-25 smart-layers-pointers" onclick="">
		  <div class="n-42-i33-x3o0kY overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-26 smart-layers-pointers" onclick="">
		  <div class="n-42--xdN2Rx overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="component-27 smart-layers-pointers" onclick="">
		  <div class="n-42-i33 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-28 smart-layers-pointers" onclick="">
		  <div class="n-42- overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-1"></div>
		</div>
		<div class="component-29 smart-layers-pointers" onclick="">
		  <div class="n-42-i331 overpass-regular-normal-black-21px border-class-1">n° 42</div>
		  <div class="rectangle-11"></div>
		</div>
		<div class="rectangle-5"></div>
		<div class="component-30 smart-layers-pointers">
		  <div class="tableau-de-bord-3336 overpass-regular-normal-black-24px border-class-1">Tableau de bord</div>
		  <div class="rectangle-9"></div>
		</div>
		<div class="component-31 smart-layers-pointers">
		  <div class="profil-3338 overpass-regular-normal-black-24px border-class-1">Profil</div>
		  <div class="rectangle-10"></div>
		</div>
		<div class="component-4">
		  <input
			class="recherche-3340 overpass-regular-normal-dove-gray-17px border-class-1"
			name="recherche1"
			placeholder="Recherche"
			type="text"
			required
		  />
		</div>
		<img
		  class="image-1 smart-layers-pointers"
		  src="https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/image-1@2x.jpg"
		/>
		<div class="rectangle-7"></div>
		<h1 class="bonjour-bi-pital-3377 overpass-normal-white-42px border-class-1">
		  <span class="span1-GrW2TH">Bonjour!<br /></span
		  ><span class="span2-GrW2TH">Bienvenue au tableau de bord Helpital</span>
		</h1>
		<div class="gestion-de-bres-33162 overpass-normal-white-42px border-class-1">
		  <span class="span1-NQIGBd">Gestion des Chambres<br /></span
		  ><span class="span2-NQIGBd">Disponibilité des chambres</span>
		</div>
		<div class="face-black-18dp-1">
		  <img
			class="vector-9AIvJk"
			src="https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/vector-1@2x.svg"
		  />
		</div>
		<div class="clear-black-18dp-2 smart-layers-pointers">
		  <img
			class="vector-0aOgM1"
			src="https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/vector-3@2x.svg"
		  />
		</div>
		<div class="navigatebe-ack-18dp-1 smart-layers-pointers">
		  <img
			class="vector-9AkFHC"
			src="https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf6787a68d037eb34f96c4/img/vector-18@2x.svg"
		  />
		</div>
		<div class="navigatene-ack-18dp-1 smart-layers-pointers">
		  <img
			class="vector-RPSSPV"
			src="https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf6a61df44128af5d7c08d/img/vector-7@2x.svg"
		  />
		</div>
	  </div>
</body>
</html>