<!DOCTYPE html>

<html>
    <head>
        <title>Gestion des chambres</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link rel="icon" type="image/png" href="assets/img/favicon.png"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav class="noselect">
            <a class="navpad" href="/planning"><img class="logo" src="../assets/images/h_logo1.png"></a>
            <a class="navpad" href="/planning">Tableau de bord</a>
            <ul>
                <li class="deroulant"><a>Outils</a>
                  <ul class="sous">
                    <li><a href="/annuaire">Annuaire</a></li>
                    <li><a href="/capsule">Capsule patient</a></li>
                    <li><a href="/patient/transfert">Gestion des chambres</a></li>
                    <li><a href="/chambres">Transfert de patient</a></li>
                  </ul>
                </li>
            </ul>
            <a class="navpad" href="/profil">Profil</a>
            <a class="navpad"><input class="entry" type="text" placeholder="Rechercher"></a>
        </nav>

        <div class="welcome">
            <h1>Disponibilité des chambres</h1>
        </div>

        <div class="room">
            <!-- <h2>1er étage</h2> -->
            <div class="noselect">
                <div class="n_room">N°1</div>
                <div class="n_room">N°2</div>
                <div class="n_room">N°3 </div>
                <div class="n_room">N°4</div>
                <div class="n_room">N°5</div>
                <div class="n_room">N°6</div>
                <div class="n_room">N°7</div>
                <div class="n_room">N°8</div>
                <div class="n_room">N°9</div>
                <div class="n_room">N°10</div>
                <div class="n_room">N°11</div>
                <div class="n_room">N°12</div>
                <div class="n_room">N°13</div>
                <div class="n_room">N°14</div>
            </div>
        </div>

    </body>
</html>