<!DOCTYPE html>

<html>
    <head>
        <title>Profil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../user/profil.js"></script>     
        <link rel="stylesheet" href="../assets/css/styles.css">       
        <link rel="icon" type="image/png" href="images/favicon.png"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    </head>

    <body onload="init()">
        <nav class="noselect">
            <a class="navpad" href="/planning"><img class="logo" src="../assets/images/h_logo1.png"></a>
            <a class="navpad" href="/planning">Tableau de bord</a>
            <ul>
                <li class="deroulant"><a>Outils</a>
                    <ul class="sous">
                    <li><a href="/annuaire">Annuaire</a></li>
                    <li><a href="/capsule">Capsule patient</a></li>
                    <li><a href="/patient/transfert">Transfert de patient</a></li>
                    <li><a href="/chambres">gestion des chambres</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navpad" href="/profil">Profil</a>
            <a class="navpad"><input class="entry" type="text" placeholder="Rechercher"></a>
        </nav>
    
        <div class="welcome">
            <h1>Profil</h1>
        </div>
        <div id="profil">
            <h1 id="name">Nom :</h1> 
            <h1 id="surname">Prénom :</h1> 
            <h1 id="email">email :</h1> 
            <h1 id="phone">téléphone :</h1> 
        </div>
    </body>

</html>