<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Helpital</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
    <script src="index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="index.css">

</head>
<body style="background: white;" onload="init()">
<div id="rooms_list"></div>
</body>
</html>
