<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Helpital</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <div class="header_homepage">
            <a href="/">
                <img src="/assets/helpital_logo_1.jpg" alt="brand_logo" title="Helpital"/>
            </a>
            <span>Tableau de bord</span>
            <img src="/assets/arrow.png" alt="display_tab" title="Helpital" style="height: 8px; margin: 35px 0px 0px -10px;"/>
            <span>Plus</span>
            <img src="/assets/arrow.png" alt="display_more" title="Helpital" style="height: 8px; margin: 35px 0px 0px -10px;"/>
            <div class="searching_bar">
                <img src="/assets/search.png" alt="search" title="Helpital"/>
                <input type="search" id="site-search" name="q"
                aria-label="Rechercher" placeholder="Rechercher">
                <img src="/assets/searchp.png" alt="search_p" title="Helpital" style=""/>
            </div>
        </div>
        <div class="welcome_block">
            <img src="/assets/doctor.png" alt="welcome_logo" title="Helpital"/>
            <span> <strong>Bonjour Tao !</strong></br><FONT color="grey">Bienvenue sur le tableau de bord de Helpital</FONT></span>
        </div>
        <div class="calendar">
            Planning</br>
            Emploi du temps de la semaine
        </div>
    </body>
</html>