<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Helpital</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <script type="text/javascript" src="../annuaire/annuaire.js"></script>
        <link rel="stylesheet" href="../assets/css/annuaire.css"/>
    </head>
    <body onload="load()">
        <nav>
            <a class="navpad" href="/planning"><img class="logo" src="images/h_logo1.png"></a>
            <a class="navpad" href="/planning">Tableau de bord</a>
            <ul>
                <li class="deroulant"><a>Outils</a>
                    <ul class="sous">
                    <li><a href="/annuaire">Annuaire</a></li>
                    <li><a href="/capsule">Capsule patient</a></li>
                    <li><a href="/patient/transfert">Transfert de patient</a></li>
                    <li><a href="/chambres">gestion des chambres</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navpad" href="/profil">Profil</a>
            <a class="navpad"><input class="entry" type="text" placeholder="Rechercher"></a>
        </nav>
        <div id="myform">
            Annuaire Helpital
            <h5>Veuillez remplir les champs ci-dessous pour ajouter les informations d'un patient dans le formulaire</h2>
            <table>
                <tr>
                    <td>Nom:</td>
                    <td><input type="text" id="name"></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><input type="text" id="email"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" id="phone">
                </tr>
            </table>
            <input type="button" id="add" value="Add" onclick="Javascript:addRow()"></td>
        </div>
        <div id="mydata" class="data_display">
            <table id="myTableData"  border="1" cellpadding="2">
                <thead>
                    <th colspan="2">The table header</th>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td><b>Name</b></td>
                        <td><b>E-mail</b></td>
                        <td><b>Phone</b></td>
                    </br>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>