@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Overpass:700,400");
* {
  box-sizing: border-box;
}
.desktop-app-accueil-chambres {
  background-color: var(--mercury);
  position: relative;
  width: 100%;
}
.desktop-app-accueil-chambres .bonjour-bi-pital-3377 {
  background-color: transparent;
  height: auto;
  left: 530px;
  position: absolute;
  text-align: center;
  top: 264px;
  width: 382px;
}
.desktop-app-accueil-chambres .clear-black-18dp-2 {
  background-color: transparent;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/vector@2x.png);
  background-size: 100% 100%;
  height: 42px;
  left: 1388px;
  pointer-events: auto;
  position: absolute;
  top: 20px;
  transition: all 0.2s ease;
  width: 42px;
}
.desktop-app-accueil-chambres .clear-black-18dp-2:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-1 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 109px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-10 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 1071px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-10:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-11 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 1208px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-11:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-12 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 109px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-12:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-13 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 246px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-13:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-14 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 383px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-14:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-15 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 521px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-15:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-16 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 659px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 121px;
}
.desktop-app-accueil-chambres .component-16:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-17 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 795px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-17:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-18 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 933px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-18:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-19 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 1071px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-19:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-1:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-2 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 246px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-20 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 113px;
  left: 1208px;
  pointer-events: auto;
  position: absolute;
  top: 723px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-20:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-21 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 109px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-21:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-22 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 246px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-22:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-23 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 383px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-23:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-24 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 521px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-24:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-25 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 659px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 121px;
}
.desktop-app-accueil-chambres .component-25:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-26 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 795px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-26:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-27 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 933px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-27:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-28 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 1071px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-28:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-29 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 1208px;
  pointer-events: auto;
  position: absolute;
  top: 850px;
  transition: all 0.2s ease;
  width: 122px;
}
.desktop-app-accueil-chambres .component-29:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-2:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-3 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 383px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-30 {
  background-color: transparent;
  height: 41px;
  left: 107px;
  pointer-events: auto;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 175px;
}
.desktop-app-accueil-chambres .component-30:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-31 {
  background-color: transparent;
  height: 34px;
  left: 309px;
  pointer-events: auto;
  position: absolute;
  top: 26px;
  transition: all 0.2s ease;
  width: 88px;
}
.desktop-app-accueil-chambres .component-31:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-3:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-4 {
  background-color: var(--ebb);
  border-radius: 16px;
  height: 52px;
  left: 421px;
  position: absolute;
  top: 15px;
  width: 299px;
}
.desktop-app-accueil-chambres .component-6 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 521px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-6:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-7 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 659px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 121px;
}
.desktop-app-accueil-chambres .component-7:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-8 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 795px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-8:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .component-9 {
  background-color: var(--mercury);
  border-radius: 10px;
  height: 111px;
  left: 933px;
  pointer-events: auto;
  position: absolute;
  top: 598px;
  transition: all 0.2s ease;
  width: 123px;
}
.desktop-app-accueil-chambres .component-9:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .face-black-18dp-1 {
  background-color: transparent;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/vector@2x.png);
  background-size: 100% 100%;
  height: 120px;
  left: 660px;
  position: absolute;
  top: 134px;
  width: 120px;
}
.desktop-app-accueil-chambres .gestion-de-bres-33162 {
  background-color: transparent;
  height: auto;
  left: 482px;
  position: absolute;
  text-align: center;
  top: 491px;
  width: 477px;
}
.desktop-app-accueil-chambres .image-1 {
  background-color: transparent;
  height: 82px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 82px;
}
.desktop-app-accueil-chambres .image-1:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .n-42- {
  background-color: transparent;
  height: 27.03%;
  left: 17.21%;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 36.94%;
  width: 67.21%;
}
.desktop-app-accueil-chambres .n-42--xdN2Rx {
  background-color: transparent;
  height: 27.03%;
  left: 17.89%;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 36.94%;
  width: 66.67%;
}
.desktop-app-accueil-chambres .n-42-i33 {
  background-color: transparent;
  height: 27.03%;
  left: 17.21%;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 36.94%;
  width: 67.2%;
}
.desktop-app-accueil-chambres .n-42-i33-x3o0kY {
  background-color: transparent;
  height: 27.03%;
  left: 17.21%;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 36.94%;
  width: 67.23%;
}
.desktop-app-accueil-chambres .n-42-i331 {
  background-color: transparent;
  height: 27.03%;
  left: 17.89%;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 36.94%;
  width: 66.68%;
}
.desktop-app-accueil-chambres .navigatebe-ack-18dp-1 {
  background-color: transparent;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/vector@2x.png);
  background-size: 100% 100%;
  height: 80px;
  left: 426px;
  pointer-events: auto;
  position: absolute;
  top: 490px;
  transition: all 0.2s ease;
  width: 80px;
}
.desktop-app-accueil-chambres .navigatebe-ack-18dp-1:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .navigatene-ack-18dp-1 {
  background-color: transparent;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fcf44d04335dd88aedfdcef/releases/5fcf45579f7c4b9fb3ed5c09/img/vector@2x.png);
  background-size: 100% 100%;
  height: 80px;
  left: 933px;
  pointer-events: auto;
  position: absolute;
  top: 490px;
  transition: all 0.2s ease;
  width: 80px;
}
.desktop-app-accueil-chambres .navigatene-ack-18dp-1:hover {
  transform: scale(1.1);
}
.desktop-app-accueil-chambres .profil-3338 {
  background-color: transparent;
  height: 88.24%;
  left: 5.68%;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 94.32%;
}
.desktop-app-accueil-chambres .recherche-3340 {
  background-color: transparent;
  border: 0;
  height: 46.15%;
  left: 4.01%;
  letter-spacing: 0px;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 26.92%;
  width: 92.98%;
}
.desktop-app-accueil-chambres .recherche-3340::placeholder {
  color: rgba(115, 110, 110, 0.6);
}
.desktop-app-accueil-chambres .rectangle-1 {
  background-color: transparent;
  border-radius: 15px;
  height: 27.03%;
  left: 25.41%;
  position: absolute;
  top: 36.94%;
  width: 49.18%;
}
.desktop-app-accueil-chambres .rectangle-10 {
  background-color: transparent;
  border-radius: 14.5px;
  height: 88.24%;
  left: 0px;
  position: absolute;
  top: 11.76%;
  width: 77.27%;
}
.desktop-app-accueil-chambres .rectangle-11 {
  background-color: transparent;
  border-radius: 15px;
  height: 27.03%;
  left: 26.02%;
  position: absolute;
  top: 36.94%;
  width: 48.78%;
}
.desktop-app-accueil-chambres .rectangle-5 {
  background-color: white;
  height: 82px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop-app-accueil-chambres .rectangle-7 {
  background-color: white;
  border-radius: 28px;
  height: 280px;
  left: 370px;
  position: absolute;
  top: 124px;
  width: 700px;
}
.desktop-app-accueil-chambres .rectangle-8 {
  background-color: white;
  height: 559px;
  left: 67px;
  position: absolute;
  top: 446px;
  width: 1305px;
}
.desktop-app-accueil-chambres .rectangle-9 {
  background-color: transparent;
  border-radius: 20.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 99.43%;
}
.desktop-app-accueil-chambres .span1-GrW2TH {
  color: rgba(0, 0, 0, 1);
  font-family: "Overpass-Bold", Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}
.desktop-app-accueil-chambres .span1-NQIGBd {
  color: rgba(0, 0, 0, 1);
  font-family: "Overpass-Bold", Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}
.desktop-app-accueil-chambres .span2-GrW2TH {
  color: rgba(115, 110, 110, 1);
  font-family: "Overpass-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}
.desktop-app-accueil-chambres .span2-NQIGBd {
  color: rgba(115, 110, 110, 1);
  font-family: "Overpass-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}
.desktop-app-accueil-chambres .tableau-de-bord-3336 {
  background-color: transparent;
  height: 73.17%;
  left: 0.41%;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 9.76%;
  width: 99.02%;
}
.desktop-app-accueil-chambres .vector-0aOgM1 {
  background-color: transparent;
  height: 58.33%;
  left: 20.83%;
  position: absolute;
  top: 20.83%;
  width: 58.33%;
}
.desktop-app-accueil-chambres .vector-9AIvJk {
  background-color: transparent;
  height: 83.33%;
  left: 8.33%;
  position: absolute;
  top: 8.33%;
  width: 83.33%;
}
.desktop-app-accueil-chambres .vector-9AkFHC {
  background-color: transparent;
  height: 50%;
  left: 33.33%;
  position: absolute;
  top: 25%;
  width: 30.88%;
}
.desktop-app-accueil-chambres .vector-RPSSPV {
  background-color: transparent;
  height: 50%;
  left: 35.79%;
  position: absolute;
  top: 25%;
  width: 30.87%;
}
.overpass-normal-white-42px {
  color: transparent;
  font-family: "Overpass", Helvetica, Arial, serif;
  font-size: 42px;
}
.overpass-regular-normal-black-21px {
  color: black;
  font-family: "Overpass-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}
.overpass-regular-normal-black-24px {
  color: black;
  font-family: "Overpass-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.overpass-regular-normal-dove-gray-17px {
  color: var(--dove-gray);
  font-family: "Overpass-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --dove-gray: rgba(115, 110, 110, 1);
  --ebb: rgba(236, 227, 227, 1);
  --mercury: rgba(228, 228, 228, 1);
}
