* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
} 

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

html::-webkit-scrollbar {
	display: none;
	opacity: 1.0;
}

body {
    margin-top: 5%;
    background: url(assets/img/bg.png) no-repeat center center fixed;
}

nav {
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.1);
}

.navpad {
    padding-right: 20px;
    padding-left: 20px;
}

.logo {
    width: 10%;
    vertical-align: middle;
}

a {
    font-weight: 100;
    text-decoration: none;
    color: black;
}

ul, li {
    display: inline-block;
    width: 150px;
    text-align: center;
    position: relative;
}

.sous {
    display: none;
    background-color: white;
    border-radius: 10px;
    position: absolute;
}

ul li:hover .sous{
    display: block;
}

.sous li{
    display: inline-block;
    float: none;
    width: 100%;
    margin: 10px;
    text-align: left;
}

.deroulant {
    display: inline-block;
}

.deroulant > a::after {
    content:" ▼";
    font-size: 12px;
}

input {
    font-weight: 100;
}

.entry {
	background-color: #f3f2f2;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
	color: #c7c7c7;
	padding: 10px 15px;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.entry:hover {
    background-color: #fafafa;
    border: 1px solid #a5a5a5;
}

.entry:active, .entry:focus {
    background-color: white;
    box-shadow: 0 0 0 #f3f2f2;
	color: #000000;
}

div {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

.welcome {
    margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.1);
}

.doctor {
    display: inline-block;
    width: 15%;
}

h1 {
    font-weight: 100;
}

h2 {
    margin-top: 15px;
    font-size: 95%;
    font-weight: 100;
    color: rgb(143, 143, 143);
}

.planning {
    margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 80%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.1);
}

.arrow {
    display: inline-block;
    width: 2%;
    margin-left: 25px;
    margin-right: 25px;
}

.inlineblock {
    display: inline-block;
    font-weight: 100;
    margin-top: 25px;
}

.days {
    display: inline-block;
    width: 150px;
    height: 25px;
    text-align: center;
}

.hours {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 227, 227);
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    vertical-align: top;
    margin-top: 5px;
}

.hours:hover {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 206, 206);
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}

.hours:active, .hours:focus {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 148, 148);
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}

.text {
    font-size: 1.5em;
    color: rgb(143, 143, 143);
    margin: 15px;
}


.text2 {
    overflow-wrap: break-word;
    font-size: 1.5em;
    color: black;
}

#patient {
    margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

#patient h1 {
    font-size: 1.5em;
    color: rgb(143, 143, 143);
    margin-bottom: 15px;
}

#patient h2 {
    overflow-wrap: break-word;
    font-size: 1.5em;
    color: black;
    margin: 15px;
}

#profil, #book {
    margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#profil h1, #book h1 {
    font-size: 1.5em;
    color: rgb(143, 143, 143);
    margin-bottom: 15px;
}

#profil h2, #book h2 {
    overflow-wrap: break-word;
    font-size: 1.5em;
    color: black;
    margin: 15px;
}

.phone {
	background-color: #f3f2f2;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
	color: #c7c7c7;
	padding: 10px 15px;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.phone:hover {
    background-color: #fafafa;
    border: 1px solid #a5a5a5;
}

.phone:active, .phone:focus {
    background-color: white;
    box-shadow: 0 0 0 #f3f2f2;
	color: #000000;
}

.room {
    margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.1);
}

.n_room {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 227, 227);
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    text-align: center;
    vertical-align: top;
    margin-top: 5px;
}

.n_room:hover {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 206, 206);
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
}

.n_room:focus {
    outline: none;
}

.n_room-active {
    display: inline-block;
    width: 150px;
    height: 205px;
    color: white;
    background-color: rgb(255, 148, 148);
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
}

.room h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.phonebook {
	background-color: #f3f2f2;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #f3f2f2;
	color: #c7c7c7;
	padding: 10px 15px;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.phonebook:hover {
    background-color: #fafafa;
    border: 1px solid #a5a5a5;
}

.phonebook:focus {
    outline: none;
}

.phonebook:active {
    background-color: white;
    box-shadow: 0 0 0 #f3f2f2;
	color: #000000;
}

.add {
    background-color: rgb(255, 206, 206);
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #f3f2f2;
	color: black;
	padding: 10px 15px;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.add:hover {
    background-color: #fafafa;
    border: 1px solid #a5a5a5;
    color:black;
}

.add:focus {
    outline: none;
}

.add:active {
    background-color: rgb(255, 148, 148);
    box-shadow: 0 0 0 #f3f2f2;
	color:white;
}

.table-sortable tbody tr {
    cursor: move; 
}

table {
    margin: auto;
}

table b {
    margin-left: 25px;
    margin-right: 25px;
}

.example-parent {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-draggable {
    background-color: rgb(255, 206, 206);
    padding: 10px;
    margin: 5px;
}
  
.example-dropzone {
    background-color: rgb(255, 148, 148);
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    margin-top: 5px;
}