@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; }

html::-webkit-scrollbar {
  display: none;
  opacity: 1.0; }

body {
  margin-top: 5%;
  background: url(../images/bg.png) no-repeat center center fixed; }

nav {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
}

.navpad {
  padding-right: 20px;
  padding-left: 20px; }

.logo {
  width: 10%;
  vertical-align: middle; }

a {
  font-weight: 100;
  text-decoration: none;
  color: black; }

ul, li {
  display: inline-block;
  width: 150px;
  text-align: center;
  position: relative; }

.sous {
  display: none;
  background-color: white;
  position: absolute; }

ul li:hover .sous {
  display: block; }

.sous li {
  display: inline-block;
  float: none;
  width: 100%;
  margin: 10px;
  text-align: left; }

.deroulant {
  display: inline-block; }

.deroulant > a::after {
  content: " ▼";
  font-size: 12px; }

input {
  font-weight: 100; }

.entry:hover {
  background-color: #fafafa;
  border: 1px solid #a5a5a5; }

.welcome {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1); }

.doctor {
  display: inline-block;
  width: 15%; }

h1 {
  font-weight: 100; }

h2 {
  margin-top: 15px;
  font-size: 95%;
  font-weight: 100;
  color: #8f8f8f; }

.arrow {
  display: inline-block;
  width: 2%;
  margin-left: 25px;
  margin-right: 25px; }

.inlineblock {
  display: inline-block;
  font-weight: 100;
  margin-top: 25px; }

.days {
  display: inline-block;
  width: 150px;
  height: 25px;
  text-align: center; }

.hours:hover {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #ffcece;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  outline: none; }

.hours:active, .hours:focus {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #ff9494;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  outline: none; }

.text {
  font-size: 1.5em;
  color: #8f8f8f;
  margin: 15px; }

.text2 {
  overflow-wrap: break-word;
  font-size: 1.5em;
  color: black; }

#patient {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 25px; }

#patient h1 {
  font-size: 1.5em;
  color: #8f8f8f;
  margin-bottom: 15px; }

#patient h2 {
  overflow-wrap: break-word;
  font-size: 1.5em;
  color: black;
  margin: 15px; }

.switch {
	position: flex;
	padding-top: 5%;
}

.carrépatient {
	width:100px;
	height:100px;
	background: grey;
	position: relative;
	left: 25%;
	border-radius: 10px;
}

.carrépatient:hover {
	display: inline-block;
	background-color:yellow;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	outline: none;
}

.otherroom {
    padding-top: 2%;
	width:150px;
	height:150px;
    background: red;
	position: relative;
	left: 75%;
	border-radius: 10px;
}

.otherroom:hover {
	display: inline-block;
	background-color:yellow;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	outline: none;
}

.otherroom2 {
    padding-top: 2%;
	width:150px;
	height:150px;
    background: orange;
	position: relative;
	left: 75%;
	border-radius: 10px;
}

.otherroom2:hover {
	display: inline-block;
	background-color: yellow;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	outline: none;
}

.otherroom3 {
    padding-top: 2%;
	width:150px;
	height:150px;
    background: green;
	position: relative;
	left: 75%;
	border-radius: 10px;
}

.otherroom3:hover {
	display: inline-block;
	background-color:yellow;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	outline: none;
}

.print {
	background-color: white;
	border-radius: 10px;
	text-align: center;
}